html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.header{
display:flex;
justify-content: center;
padding:20px;
}

.main-container {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    text-align: center;
}

.grid-container div {
    display: flex;
    flex-direction: column;
    padding:25px;
}

.footer {
    display: flex;
    text-align: center;
    width: 100%;
    flex:1 auto;
    justify-content: center;
    align-items: flex-end;
}




.grid-container div {
    border: 1px black solid;
}