@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


html {
    height: 100%;
    background-color:rgb(206, 206, 206);
    font-family: 'Merriweather Sans', sans-serif;

}

body {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    margin:0px;
}

.header{
display:flex;
padding:20px;
background-color: rgb(164, 194, 204);
margin-bottom: 5px;

}

ul {
    color: white;
}


.main-container {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;

}

.main-container button {
    margin-bottom: 30px;
    font-size: 25px;
    padding:15px;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    text-align: center;
}



.grid-item {
    display: flex;
    flex-direction: column;
    padding:25px;
    border: 1px black solid;
    background-color: darkgray;
    border-radius: 5px;
}

.Remove-Bt {
    background-color: darkred;
}

/* .grid-item *{
    width: ;
} */

.footer {

    display: flex;
    text-align: center;
    width: 100%;
    flex:1 auto;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.footer h3 {
    margin: 0;
}

.fab {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
a {
    outline: 0;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

button {
    background:rgba(0,0,0,0.3);
    border: 1px solid #111;
    padding:5px;
    color:#EEE;
    border-radius: 5px;
    font-size: 10px;
}

button:hover {
    background-color:rgba(0,0,0,0.5);
}

button:active {
    background-color:rgba(0,0,0,1);
    transform: translateY(4px);

}

.status.red {
    background-color: red;
}

.status.green {
    background-color: green;
}

.modal-window {
    display:none;
    position:fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.modal-content {
    display:flex;
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 25%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-fields {
    padding-top: 25px;
    flex:1 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content span {
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-content span:hover,
.modal-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-fields div {
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-fields p {
    margin: 0px;
}

.error {
    margin:0px;
    color:red;
}

.button-container button {
    padding:5px;
    font-size: 15px;
}

.button-container button:first-child{
    margin-right: 5px;
}


.submit-Book {
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 10px;
}

.add-book {
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    padding: 5px 30px;

}

.add-book:hover {
    background-color: rgb(0, 187, 0);
}